
<div class="division"></div>

<div class="container margenes borde shadow mb-0" width="1337" height="505">
<section id="Acercade" class="about"> 
 
   <h2>Acerca de</h2>
   <div class="container margenes mt-0" >
   
      <fa-icon
      class="float-end fa-icon"
      *ngFor="let dato of datos"
      [icon]="faTrashCan"
      (click)="eliminar(dato.id)"
      
    >      </fa-icon>
    <fa-icon
    class="float-end fa-icon"  
    [icon]="faPencil"    
    
    data-bs-toggle="modal" 
    data-bs-target="#exampleModal" 
    
  >      </fa-icon>
  
  </div>
 
  <div id="text-acercade" class="container margenes acerca-text pb-3 pt-3 me-4 list-group-item-action" *ngFor="let dato of datos" data-bs-toggle="modal" 
  data-bs-target="#exampleModal"  (click)="openEdit(this.form)">
   
   
    {{dato.texto}}

   
</div>
  <div>
     <input id="edit-acercade" type="text" oninput="myFuction2(this.value)" style="display:none">
  </div>
</section>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Acerca de</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" >
           <div class="mb-3">
            <label for="message-text" class="col-form-label">Texto nuevo:</label>
            <textarea formControlName="texto"  class="form-control" id="texto"></textarea>
            <div *ngIf="texto?.invalid && texto?.touched">
              <div *ngIf="texto?.errors?.['required']" class="text-danger">
                  El texto nuevo es requerido.
              </div>
              <div *ngIf="texto?.errors?.['minlength']" class="text-danger">
                 El texto debe tener como  mínimo 50 caracteres.
              </div>
              <div *ngIf="texto?.errors?.['maxlength']" class="text-danger">
                El texto debe tener como  máximo 255 caracteres.
             </div>       
            </div>
          </div>         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalAcercade" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarform()">Cerrar</button>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary" (click)="addOredit()">Enviar</button>
      </div>
    </div>
  </div>
</div>


