


<div class="container  mb-0" width="1337" height="505"  >
<section id="Acercade" class="about"> 
 
   <h2 id="Acercade" >Acerca de
     <fa-icon  
     class="float-end fa-icon fa-xs mt-1"
     [icon]="faPlus"
     data-bs-toggle="modal" 
     data-bs-target="#ACDModal"
     (click)="limpiarform()"
     >
      
     </fa-icon>
   </h2>

   <div class="  mt-0" *ngFor="let dato of datos; let i = index" >
   
      <fa-icon
      class="float-end fa-icon"
      
      [icon]="faTrashCan"
      (click)="eliminar(dato.id)"
      
    >      </fa-icon>
    <fa-icon
    class="float-end fa-icon"  
    [icon]="faPencil"    
    (click)="onEditAcercade(i)"
    data-bs-toggle="modal" 
    data-bs-target="#ACDModal" 
    
  >      </fa-icon>
  
  
 
  <div id="Acer" class="  texto  pb-3 pt-3 " >
   
   
    {{dato.texto}}

   
</div>
</div>
  
</section>
</div>

<!-- Modal -->
<div class="modal fade" id="ACDModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Acerca de</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input type="hidden" name="id" formControlName="id">

           <div class="mb-3">
            <label for="message-text" class="col-form-label">Texto nuevo:</label>
            <textarea formControlName="texto"  class="form-control" id="texto"></textarea>
            <div *ngIf="texto?.invalid && texto?.touched">
              <div *ngIf="texto?.errors?.['required']" class="text-danger">
                  El texto nuevo es requerido.
              </div>
              <div *ngIf="texto?.errors?.['minlength']" class="text-danger">
                 El texto debe tener como  mínimo 50 caracteres.
              </div>
              <div *ngIf="texto?.errors?.['maxlength']" class="text-danger">
                El texto debe tener como  máximo 255 caracteres.
             </div>       
            </div>
          </div>         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalAcercade" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarform()">Cerrar</button>
        <button type="submit" (click)="onSubmit()" [disabled]="form.invalid" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</div>


