
<div class="division"></div>
<div class="container margenes borde shadow mb-0" width="1337" height="505">
<section id="Acercade" class="about"> 
   <h2>Acerca de</h2>
   <div class="container margenes mt-0" >
      <fa-icon
      class="float-end ms-2"
      [icon]="faTrashCan"
      (click)="eliminar()"
      style="cursor: pointer"
      *ngIf="hasRoute('/edicion')"
    >      </fa-icon>
    <fa-icon
    class="float-end ms-2"  
    [icon]="faPencil"
    style="cursor: pointer"
    *ngIf="hasRoute('/edicion')"
  >      </fa-icon>
          
  </div>
  <div id="text-acercade" class="container margenes acerca-text pb-3 pt-4 me-4">
   <app-formmodal-ac></app-formmodal-ac>
   {{miPortfolio.acercade}}
  </div>
  <div>
     <input id="edit-acercade" type="text" oninput="myFuction2(this.value)" style="display:none">
  </div>
</section>
</div>

