.card-text1 {
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    color: #1d8ea6;
    text-align: center;
}
.card-text2 {
    font-size: 14px;
  opacity: 1;
  color: #5b5b5b;
  text-align: center;
  margin-top: 0;
}