.card-title {
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    color: #1d8ea6;
    text-align: center;
}
.card-title2 {
  
  font-size: 12px;
  opacity: 1;
  
  text-align: center;
}

.card-text {
    font-size: 14px;
  opacity: 1;
  color: #5b5b5b;
  text-align: center;
  margin-top: 0;
}