<div class="header container-fluid position-relative">
   <app-logo-ap></app-logo-ap>
   <app-redesylogin></app-redesylogin>
   
</div>
<div class="banner">
   <app-banner >  </app-banner> 
</div>

<app-fotocv class="bloquefoto"></app-fotocv>
<!-- <div class="container2">
    <header class="header" width="100%">
      
    <div class="row ms-2">
            <div class="logo col">
               <div class="row">
                <div class="logoimagen col">
                   <img src="assets/Logo ArgentinaPrograma.png" alt="" width="30" height="25">
                </div>
               <div class="col">
                <span class="contenido pb-1">Argentina Programa</span>
               <span class="contenido pt-3">#YoProgramo</span>
            </div>
            </div>
            </div>
            
           <div class="redes col">
              <ul class="nav justify-content-end">
                   <li class="nav-item fondo" ><a href="https://www.linkedin.com/in/guadalupe-reboiro">
                     
                     <i class="fa fa-linkedin-square" style="font-size:24px;color:white"></i>
                  </a></li>
                   <li class="nav-item fondo"><a href="#twiter">
                     <i class="fa fa-twitter-square" style="font-size:24px;color:white"></i>
                   </a></li>
                  <li class="nav-item"> <a href="#github">
                     <i class="fa fa-github-square" style="font-size:24px;color:white"></i>
                   </a></li>
                       <li class="nav-item"> 
                        <button type="button" class="menu-btn">
                    <a href="#login" class="text-menu-btn pb-3">Login
   
                      </a>
                        </button> </li>
              </ul>     
            </div>
         </div> 
    </header> 
   </div>
   <div class="container-fluid ms-0 me-0" width="100%">
      
      <section id="inicio" class="banner" width="100%">
        <div class="container">
            <div class="row">
               <div class="col">
               <nav class="navbar navbar-expand-xl">
                  <div class="container justify-content-end">
                    <ul class="navbar-nav">
                         <li class="nav-item">
                           <a class="nav-link" href="#Acerca de">Acerca de</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" href="#Proyectos">Proyectos</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#Contacto">Contacto</a>
                         </li>
                   </ul>
                  </div>
                </nav>
               </div>
      </div>
      </div>
   <div class="row division2"></div>
   <div class="m-0 vh-50 row banner-borde mx-auto justify-content-center text-center align-content-center">   
      <div class="col-auto">
       <div class="container">
         <h1 class="banner-txt">Guadalupe Reboiro</h1>
         <p class="banner-txt2">Full Stack Developer Jr.</p>
      </div>
   </div>
   </div>
   </section>
   </div>
   <div class="row">
      <div class="col">
         <div class="container mt-5">
            <img src="assets/fotocv.png" class="fotocv" alt="" width="150" height="150">
            <div class="container margenes mt-0" width="21" height="150">
               <img src="assets/lapizedicion.png" margin-left="150" alt="Lápiz para edición" width="15" height="15">
            </div>
            <div class="cv-text1">Guadalupe Reboiro</div>
            <div class="cv-text2">Rosario (Argentina)</div>
   
         </div>
      </div>
   </div>-->


