<div class="container mt-2" width="50px">
       <div class="container bloque ">
          <img src="../../../../assets/fotocv.png" class="fotocv img-fluid" alt="" width="150" height="150">
          <div class="container margenes col-6 mt-0" >
   
   
            <fa-icon
            class=" fa-icon"  
            [icon]="faPencil"    
            *ngIf="hasRoute('/edicion')"
            
          >      </fa-icon>
            
          </div>
          <div class="cv-text1">Guadalupe Reboiro</div>
          <div class="cv-text2">Rosario (Argentina)</div>
 
       </div>
    
 
</div>
