<div class=" mt-2 row"  >
       <div class="container bloque col-xs-12 col-sm-3 col-md-3 col-lg-3 ms-5 " *ngFor="let dato of datos; let i = index">
          <img src="/assets/{{dato.imagen_cv}}" class="fotocv img-fluid" alt="Foto de Guadalupe Reboiro" width="150" height="150">
          <div class="container  mt-0"   >
   
   
            <fa-icon
            class=" fa-icon float-end"  
            [icon]="faPencil"  
            *ngIf="isAdmin"
            data-bs-toggle="modal" 
            data-bs-target="#CVModal"
            (click)="onEditBanner(i)"
          >      </fa-icon>
            
          </div>
          <div class="" >
          <p class="cv-text1">{{dato.nombres}} {{dato.apellido}}</p>
          <p class="cv-text2 pt-0">{{dato.domicilio}}</p>
        </div>
       </div>
       <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ms-0 pt-4">
    <app-acerca-de></app-acerca-de>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="CVModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Datos Personales</h5>
        <button type="button" class="btn-close" (click)="limpiarform()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" >
          <input type="hidden" name="id" formControlName="id">
           <div class="mb-3">
            <label for="message-text" class="col-form-label">Nombre:</label>
            <input formControlName="nombres"  class="form-control" id="texto" [ngClass]="{'is-invalid': nombres?.errors && nombres?.touched, 'is-valid': !nombres?.errors && nombres?.touched}">
            
            <div *ngIf="nombres?.invalid && nombres?.touched">
              <div *ngIf="nombres?.errors?.['required']" class="text-danger">
                  El nombre es requerido.
              </div>
              <div *ngIf="nombres?.errors?.['minlength']" class="text-danger">
                 El nombre debe tener como  mínimo 5 caracteres.
              </div>
             
            </div>
          </div>         
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Apellido:</label>
            <input formControlName="apellido"  class="form-control" id="texto" [ngClass]="{'is-invalid': apellido?.errors && apellido?.touched, 'is-valid': !apellido?.errors && apellido?.touched}"
            >
            <div *ngIf="apellido?.invalid && apellido?.touched">
              <div *ngIf="apellido?.errors?.['required']" class="text-danger">
                  El apellido es requerido.
              </div>
              <div *ngIf="apellido?.errors?.['minlength']" class="text-danger">
                 El apellido debe tener como  mínimo 5 caracteres.
              </div>
                  
            </div>
          </div>         
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Domicilio:</label>
            <input formControlName="domicilio"  class="form-control" id="texto" [ngClass]="{'is-invalid': domicilio?.errors && domicilio?.touched, 'is-valid': !domicilio?.errors && domicilio?.touched}">
            <div *ngIf="domicilio?.invalid && domicilio?.touched" >
              <div *ngIf="domicilio?.errors?.['required']" class="text-danger">
                  El domicilio es requerido.
              </div>
              <div *ngIf="domicilio?.errors?.['minlength']" class="text-danger">
                 El domicilio debe tener como  mínimo 5 caracteres.
              </div>
                    
            </div>
          </div>   
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Imagen CV:</label>
            <input formControlName="imagen_cv"  class="form-control" id="texto" [ngClass]="{'is-invalid': imagen_cv?.errors && imagen_cv?.touched, 'is-valid': !imagen_cv?.errors && imagen_cv?.touched}">
            <div *ngIf="imagen_cv?.invalid && imagen_cv?.touched">
              <div *ngIf="imagen_cv?.errors?.['required']" class="text-danger">
                La imagen personal es requerida.
              </div>
              <div *ngIf="imagen_cv?.errors?.['minlength']" class="text-danger">
                La ruta de la imagen debe tener como  mínimo 5 caracteres.
              </div>
                   
            </div>
          </div>   
          
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalPersona" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarform()">Cerrar</button>
        <button type="submit" [disabled]="form.invalid" data-bs-dismiss="modal" class="btn btn-primary" (click)="edit()">Enviar</button>
      </div>
    </div>
  </div>
</div>


