<div class="redes">
    <a href="https://www.linkedin.com/in/guadalupe-reboiro">  
         <i class="fa fa-linkedin-square imagenes" style="font-size:24px;color:white"></i>
        </a>   
    <a href="#twiter">
          <i class="fa fa-twitter-square imagenes" style="font-size:24px;color:white"></i>
        </a> 
    <a href="#github">
          <i class="fa fa-github-square imagenes" style="font-size:24px;color:white"></i>
        </a>
<app-botonlogin></app-botonlogin>
             
</div>      

