<div class="division"></div>
  <div class="container margenes borde shadow" width="1337" height="505">   
    <section id="acerca" class="about">                          
               <h2>Habilidades
                <fa-icon  
                class="float-end fa-icon fa-xs mt-1"
                [icon]="faPlus"
                *ngIf="isAdmin"
                data-bs-toggle="modal" 
                data-bs-target="#HabilidadModal"
                (click)="limpiarform()"
                >
                 
                </fa-icon>

               </h2>   

       <div class="container margenes mt-0" width="21" height="21" *ngFor="let dato of datos; let i = index">
        <fa-icon
        class="float-end fa-icon"
        *ngIf="isAdmin"
        [icon]="faTrashCan"
        (click)="eliminar(dato.id)"
        
      >      </fa-icon>
      <fa-icon
      class="float-end fa-icon"  
      [icon]="faPencil" 
      *ngIf="isAdmin"
      (click)="onEditHabilidad(i)"
      data-bs-toggle="modal" 
      data-bs-target="#HabilidadModal" 
      
    >      </fa-icon>
     
    
       
     <div class="container margenes pt-1 pb-3">
       <div class="row">
         <div class="col col-xl-4 habilidades pt-3">
            {{dato.habilidad}}        
         </div>
          <div class="col col-xl-8">
     <div class="progress" style="height:20px">
       <div class="progress-bar bg-warning" role="progressbar" 
       [ngStyle]="{'width': dato.porcentaje +'%'}" 
       [attr.aria-valuenow]="dato.porcentaje" aria-valuemin="0" aria-valuemax="80">{{dato.porcentaje}}%
      </div>
     </div>
    </div>
    </div>
  </div>
    </div>
 
  </section> 
 </div>

 <!-- Modal -->
<div class="modal fade" id="HabilidadModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Habilidades</h5>
        <button type="button" class="btn-close" (click)="limpiarform()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input type="hidden" name="id" formControlName="id">

           <div class="mb-3">
            <label for="message-text" class="col-form-label">Habilidad:</label>
            <input formControlName="habilidad"  class="form-control" id="texto">
            <div *ngIf="habilidad?.invalid && habilidad?.touched">
              <div *ngIf="habilidad?.errors?.['required']" class="text-danger">
                  La habilidad es requerida.
              </div>
              <div *ngIf="habilidad?.errors?.['minlength']" class="text-danger">
                 La habilidad debe tener como  mínimo 5 caracteres.
              </div>
                  
            </div>
          </div>      
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Porcentaje:</label>
            <input formControlName="porcentaje"  class="form-control" id="texto">
            <div *ngIf="porcentaje?.invalid && porcentaje?.touched">
              <div *ngIf="porcentaje?.errors?.['required']" class="text-danger">
                  El porcentaje es requerido.
              </div>
              <div *ngIf="porcentaje?.errors?.['pattern']" class="text-danger">
                El porcentaje debe ser un número.
             </div>

              <div *ngIf="porcentaje?.errors?.['min']" class="text-danger">
                El porcentaje mínimo debe ser 10.
             </div>
             <div *ngIf="porcentaje?.errors?.['max']" class="text-danger">
              El porcentaje máximo debe ser 100.
           </div>


                  
            </div>
          </div>        
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerrarModalHabilidad" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarform()">Cerrar</button>
        <button type="submit" id="cerrarModalHabilidad" (click)="onSubmit()" [disabled]="form.invalid" class="btn btn-primary" >Enviar</button>
      </div>
    </div>
  </div>
</div>



