
 <div class="division"></div>
 <div class="container margenes borde shadow" width="1337" height="505">
  <section id="acerca" class="about"> 
     <h2>Educación</h2>
     <div class="container margenes mt-0" width="21" height="21">
       <img src="assets/lapizedicion.png" class="float-end" alt="Lápiz para edición" width="18" height="18">
    </div>
     <div class="container margenes pt-4">
       <div class="row">
         <div class="col col-xl-2 me-0 pe-0">
            <img src="assets/programacion.jpg" alt="" width="148" height="137">         
         </div>
          <div class="col col-xl-10">
             <div class="expyeduc ms-0 ps-0 me-4">
                <h3>Cursos de Programación</h3>
                <div class="acerca-text">
                   <ul>
 <li> Curso #YoProgramo de Argentina Programa. Actualmente cursando.</li>
 <li> Curso Escuela de Python 2021: Aprende Python 3.9+ de cero a Master en Udemy. Actualmente cursando.</li>
 <li> Curso #SéProgramar de Argentina Programa. Diciembre 2021.</li>
 <li> Curso Scientific Computing with Python en FreeCodeCamp. Noviembre 2021.</li>
 <li> Curso de HTML, CSS y JavaScript para principiantes en Developer Mozilla. Septimbre 2021.</li>
 </ul>
                 
                </div>
             </div>
    </div>
    </div>
    </div>
    <div class="container margenes mt-0" width="21" height="21">
       <img src="assets/lapizedicion.png" class="float-end" alt="Lápiz para edición" width="18" height="18">
    </div>
     <div class="container margenes pt-4">
       <div class="row">
         <div class="col col-xl-2 me-0 pe-0">
            <img src="assets/logoUNR.jpg" alt="" width="148" height="137">         
         </div>
          <div class="col col-xl-10">
             <div class="expyeduc ms-0 ps-0">
                <h3>Contador Público</h3>
                <div class="acerca-text">
                   <ul>
                  <li> Facultad de Ciencias Económicas y Estadística (2006 - 2013).</li>
                  <li> Universidad Nacional de Rosario.</li>
                </ul>
                </div>
             </div>
    </div>
    </div>
    </div>
    <div class="container margenes mt-0" width="21" height="21">
       <img src="assets/lapizedicion.png" class="float-end" alt="Lápiz para edición" width="18" height="18">
    </div>
     <div class="container margenes pt-4">
       <div class="row">
         <div class="col col-xl-2 me-0 pe-0">
            <img src="assets/logoCEL.jpg" alt="" width="148" height="137">         
         </div>
          <div class="col col-xl-10">
             <div class="expyeduc ms-0 ps-0">
                <h3>Educación Polimodal</h3>
                <div class="acerca-text">
                  <ul class="">
                   <li class="">Centro Educativo Latinoamericano (2003 - 2005). </li> 
                  <li class=""> Escuela de Enseñanza Media Particular Incorporada Nº 8059.</li> 
                  <li class=""> Modalidad en Economía y Gestión de las Organizaciones. </li>
                </ul>
                </div>
             </div>
    </div>
    </div>
    </div>
  </section>
 </div>
